<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomersService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/customers" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICustomersService" contract="CustomersService.ICustomersService"
        name="BasicHttpBinding_ICustomersService" />
    </client>
  </system.serviceModel>
</configuration>